.card {
    background-color: #fff;
}
.card--padding {
    padding: 12px;
}
.card--margin--bottom {
    margin-bottom: 10px;
}
.card--margin--top {
    margin-top: 10px;
}
.card--sanger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}