.fullModal {
    .ant-modal {
        width: 99vw !important;
        max-width: 99vw;
        top: 5px;
        padding-bottom: 0;
    }

    .ant-modal-body {
        height: calc(100vh - 130px);
        overflow-y: auto;
    }

}