.mor-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .ant-table-tbody{
    > tr:hover:not(.ant-table-expanded-row) > td,.ant-table-row-hover,.ant-table-cell-row-hover>td{
        background:#E5F2FF!important;
    }
  }
  .ant-table-fixed{
    .ant-table-row-hover, .ant-table-row-hover>td{
      background: #E5F2FF!important;
    }
  }
}