@import '~mor-color/theme/theme.less';

.header-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0,0,0,.85);
}
.header-title--margin--top {
    margin-top: 24px;
}
.header-title--margin--bottom {
    margin-bottom: 20px;
}
.header-title--description {
    border-bottom: 1px solid #e3e3e3;
    > p {
        font-size: 13px;
        color: #ccc;
    }
}
.header-title--border {
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}
.header-insert--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-insert {
    font-size: 13px;
    cursor: pointer;
    &:hover {
        color: @primary;
    }
}